.header-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border: 1px solid red;
   background-color: cadetblue; /* Optionally, add a background color */
   z-index: 999; /* Optionally adjust z-index to ensure it stays above other elements */
}

.logo-image {
   width: 150px;
   /* height: 75px; */
}
