/* #__next {
   padding: 20px;
}
.image-item {
   padding: 20px 0 20px 20px;
   width: 100px;
}

.carousel-image {
   height: 200px;
} */

/* .react-multi-carousel-list button {
   background-color: red;
   width: 125px;
   height: 125px;
   border-radius: 50%;
} */

/* .carousel-image {
   height: 200px;
} */

/* .h4-club-name {
   border: 1px solid red;
   margin: 0;
   text-align: center;
} */

/* .para-club-description {
   border: 1px solid red;
   margin: 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
} */

/* .para-club-description {
   border: 1px solid red;
   margin: 0;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
} */
